  nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }

  .logo {
      display: flex;
  }

  .logo img {
      width: 16vw;
  }

  .navs {
      display: inline-flex;
      margin-left: 250px;
  }

  .navs ul {
      display: flex;
      list-style: none;
  }

  .navs ul li {
      margin: 0 20px;
      padding: 2px;
      cursor: pointer;
      font-size: 17px;
  }

  .navs img {
      display: flex;
      align-items: center;
      margin-top: 15px;
      width: 2vw;
      height: 4vh;
      cursor: pointer;
  }